.footer 
    .social-links
        a.link(target='_blank' href="#") YOUTUBE
        a.link(target='_blank' href="#") INSTAGRAM
        a.link(target='_blank' href="#") FACEBOOK
        a.link(target='_blank' href="#") Зворотній зв'язок
    span.copyright-span © Усі права захищено Riverside
    span.smarto-logo Розробка сайту
        +img('smarto.svg')