.footer 
    .social-links
        a.link(target='_blank' href="#") YOUTUBE
        a.link(target='_blank' href="#") INSTAGRAM
        a.link(target='_blank' href="#") FACEBOOK
        a.link(target='_blank' onclick="moveToElement('.forms')") Зворотній зв'язок
    span.copyright-span © Усі права захищено Riverside
    span.smarto-logo Розробка сайту
        +img('smarto.svg')
<!-- этот код вставляется перед закрывающим тегом </BODY> -->
<script type="text/javascript" charset="utf-8" src="//istat24.com/js/replace.js"></script>
<script type="text/javascript">replaceIstatDynamic(1,1369);</script>
<!-- конец кода который вставляется перед закрывающим тегом </BODY> --> 