extends ../layout/main
block variable
    -pageName = 'about';
    - var version = "ua";
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/gsap.js')
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src='./assets/scripts/about.js')
block content
    .breadcrumbs-block
        a(href="index.html").breadcrumbs-block__item 
            span Головна
        a(href="#").breadcrumbs-block__item.breadcrumbs-block__item-current Про комплекс
        .title.blue Про комплекс
    section.about-section-with-bg.first(style="background-image:url(assets/images/about/first.jpg)")
        .about-text-block.anim-bg1
            .blue-logo
                +svg('about-circle-logo-river')
            .about-text-block__main-subtitle 
                <svg class="about-text-block__main-subtitle-wave" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M60 15C30 15 30 2 1.15576e-06 2" stroke="#0085FF" stroke-width="3"/>
                <path d="M60 22C30 22 30 9 1.15576e-06 9" stroke="#0085FF" stroke-width="3"/>
                </svg>
                span Жити яскравим, насиченим життям - це вибір
            .text Вибір тих, хто завжди лине з гамірної столиці у затишну гавань квітучого кварталу. Хто наповнює дозвілля активністю та емоціями, а не нудьгує у чотирьох стінах. Хто виходить назустріч світу, який вітає посмішками сусідів, дитячим сміхом та гострим ароматом ошатних кав'ярень. Жити повним життям - значить, обрати для себе ЖК Riverside!
    section.about-separator-block.separator-anim1
        .about-separator-block__text.scrollme.animateme(data-when="enter" data-from="1" data-to="0" data-scale="0.5")
            p Вибір тих, хто завжди лине з гамірної столиці у затишну гавань квітучого кварталу. Хто наповнює дозвілля активністю та емоціями, а не нудьгує у чотирьох стінах. Хто виходить назустріч світу, який вітає посмішками сусідів, дитячим сміхом та гострим ароматом ошатних кав'ярень. Жити повним життям - значить, обрати для себе ЖК Riverside!
    section.about-section-with-bg.about-section-with-bg-right-js(style="background-image:url(assets/images/about/first.jpg)")
        .about-text-block.about-text-block-right.scrollme.animateme.anim-bg2(data-when="enter" data-from="1" data-to="0" data-translatex="1000")
            .blue-logo
                +svg('about-circle-logo-river')
            .about-text-block__main-subtitle.about-text-block__main-subtitle-small
                <svg class="about-text-block__main-subtitle-wave" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M60 15C30 15 30 2 1.15576e-06 2" stroke="#0085FF" stroke-width="3"/>
                <path d="M60 22C30 22 30 9 1.15576e-06 9" stroke="#0085FF" stroke-width="3"/>
                </svg>
                span Проект Riverside став природною відповіддю на нові потреби міського жителя. 
            .text Сучасній людині вже недостатньо дизайнерського ремонту та власного парко-місця. Світ шириться значно далі за стіни будинків, і ми розсунули горизонти комфорту й життєвих цінностей на 10 гектарів навколо, створивши квартал твоїх мрій. 
    section.about-separator-block.separator-anim2
        .about-separator-block__text.scrollme.animateme(data-when="enter" data-from="1" data-to="0" data-scale="0.5") Вибір тих, хто завжди лине з гамірної столиці у затишну гавань квітучого кварталу. Хто наповнює дозвілля активністю та емоціями, а не нудьгує у чотирьох стінах. Хто виходить назустріч світу, який вітає посмішками сусідів, дитячим сміхом та гострим ароматом ошатних кав'ярень. Жити повним життям - значить, обрати для себе ЖК Riverside!
    section.about-section-with-bg(style="background-image:url(assets/images/about/third.jpg)")
        .about-text-block.scrollme.animateme.anim-bg3(data-when="enter" data-from="1" data-to="0" data-translatex="-1000")
            .blue-logo
                +svg('about-circle-logo-river')
            .about-text-block__main-subtitle.about-text-block__main-subtitle-small
                <svg class="about-text-block__main-subtitle-wave" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M60 15C30 15 30 2 1.15576e-06 2" stroke="#0085FF" stroke-width="3"/>
                <path d="M60 22C30 22 30 9 1.15576e-06 9" stroke="#0085FF" stroke-width="3"/>
                </svg>
                span Ти дбаєш про себе, ведеш активний спосіб життя і потребуєш місця для виходу енергії? Цілий громадський парк у твоєму розпорядженні!  
            .text Масштабний стадіон, майданчики для волейболу та баскетболу, тенісні корти, скейт-парк, тренажери та зимова ковзанка – все це грандіозний  Wellness City Park, спроектований на території кварталу Riverside!
    section.about-separator-block.separator-anim3
        .about-separator-block__text 
            p Комфортне життя не може бути відірваним від щоденного побуту. Незважаючи на близькість столичних благ, ми потурбувалися про повну самодостатність кварталу, запланувавши тисячі квадратних метрів під комерцію. Салони, кафе, медичні центри та дитячі гуртки – бажай, Riverside здійснить!
    section.about-section-with-bg.about-section-with-bg-right-js(style="background-image:url(assets/images/about/fourth.jpg)" )
        .about-text-block.about-text-block-right.scrollme.animateme.anim-bg4(data-when="enter" data-from="1" data-to="0" data-translatex="1000")
            .blue-logo
                +svg('about-circle-logo-river')
            .about-text-block__main-subtitle.about-text-block__main-subtitle-small
                <svg class="about-text-block__main-subtitle-wave" viewBox="0 0 60 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M60 15C30 15 30 2 1.15576e-06 2" stroke="#0085FF" stroke-width="3"/>
                <path d="M60 22C30 22 30 9 1.15576e-06 9" stroke="#0085FF" stroke-width="3"/>
                </svg>
                span ЖК Riverside – це перехрестя життєвих стихій, на якому зійшлися буденний комфорт, цікаве дозвілля та спортивна активність.
            .text Він орієнтований на людей, які хочуть жити тут і зараз, розвиваючи усі грані свого життя. Якщо ти точно знаєш, чого вартий і не приймаєш компромісів –  переходь на правильний бік, обирай для себе Riverside! 