extends ../layout/main
block variable
    -pageName = 'advantages';
    - var version = "ua";
    - var autoplayVideo = 'true';
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
block content
    .breadcrumbs-block
        a(href="index.html").breadcrumbs-block__item 
            span Головна
        a(href="#").breadcrumbs-block__item.breadcrumbs-block__item-current Переваги
        .title.blue Переваги
    .advantages-subtitle простір для дозвілля
    .adv-block1.adv-grid
        .sngl-adv
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/promenades.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Променади
                .sngl-adv__text.text.gray Твій комфорт сягає далеко за межі твого дому. Виходь назустріч сонячним прогулянкам і  зоряним вечорам – цей світ створений для тебе!
        .sngl-adv
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave.right
            video(poster="./assets/images/advantages/channel.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.right
                .sngl-adv__subtitle Канал
                .sngl-adv__text.text.gray Не треба вирушати у мандри, щоб проводжати захід сонця на узбережжі. Краса навколо тебе – насолоджуся!
        .sngl-adv
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave.right
            //- img(src="./assets/images/advantages/fontans.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/fontans.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.right
                .sngl-adv__subtitle Фонтани
                .sngl-adv__text.text.gray Водне джерело – це місце сили і ліки від стресу. Заряджайся естетикою свого кварталу!
        .sngl-adv
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/cafe.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/cafe.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Кафе
                .sngl-adv__text.text.gray Відчуваєш кавові аромати? Вони запрошують на відпочинок і тепле спілкування. Проводь час з близькими та насичуйся емоціями від зустрічей!
    .advantages-subtitle Місце де панує спорт
    .adv-block2.adv-grid
        .sngl-adv.vertical.veloroads
            img(src="./assets/images/advantages/adv-sngl-wave-vertical.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/veloroads.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/veloroads.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Велодоріжки
                .sngl-adv__text.text.gray Спорт – це не завжди про силу та дисципліну. Він може бути вітром у волоссі. Веселим спілкуванням без слів. Гармонічною роботою думок та м’язів. Насолоджуйся рухом на свіжому повітрі!
        .sngl-adv.tennis
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/promenades.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Тенісна академія
                .sngl-adv__text.text.gray Будова тіла починається з руху, а будова зв’язків – зі спільних емоцій. Ми побудували цілих 10 тенісних кортів - розвивай себе у найелітнішому спорті!
        .sngl-adv.skatepark
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave.right
            //- img(src="./assets/images/advantages/promenades.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.right
                .sngl-adv__subtitle Скейт парк
                .sngl-adv__text.text.gray Коли спорт захоплює – тіло дивує! Ми забезпечили сучасні можливості для крутих трюків – перевершуй себе!
        .sngl-adv.football-academy
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave.right
            //- img(src="./assets/images/advantages/promenades.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.right
                .sngl-adv__subtitle Футбольна академія
                .sngl-adv__text.text.gray Для грандіозного поля – велична гра! Збирай сусідів для дружнього матчу і направляй енергію на перемогу!
        .sngl-adv.stadium
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/stadium.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/stadium.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Стадіон
                .sngl-adv__text.text.gray Дружня підтримка забезпечить половину успіху. Приходь на стадіон, щоб вболівати за своїх, - вивільни емоції!
    .advantages-subtitle Зростай і розвивайся
    .adv-block3.adv-grid
        .sngl-adv.vertical.vertical-reverse.closed-territory
            img(src="./assets/images/advantages/adv-sngl-wave-vertical.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/veloroads.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Закрита територія
                .sngl-adv__text.text.gray Пізнавати світ приємно і радісно, якщо відчуваєш захищеність. Дитинство безпечне у рідному кварталі!
        .sngl-adv.vertical.vertical.kindergardens
            img(src="./assets/images/advantages/adv-sngl-wave-vertical.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/veloroads.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Дитячий садочок/школа
                .sngl-adv__text.text.gray Друзі у садочку – друзі у власному дворі. Так добре зростати серед своїх і спостерігати, як міцніє дружба.
        .sngl-adv.vertical.vertical-reverse.playgrounds
            img(src="./assets/images/advantages/adv-sngl-wave-vertical.png").sngl-adv__image-wave.reverse
            //- img(src="./assets/images/advantages/veloroads.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Дитячі майданчики у дворах
                .sngl-adv__text.text.gray Коли за кожним рогом чекають дивовижні розваги, сумувати ніколи. Досліджуй, дивуйся, зростай!
        .sngl-adv.playground-complex.full-width
            img(src="./assets/images/advantages/adv-sngl-wave.png").sngl-adv__image-wave
            //- img(src="./assets/images/advantages/veloroads.jpg").sngl-adv__image-background
            video(poster="./assets/images/advantages/promenades.jpg" autostart="true" loop="true" muted playsinline).sngl-adv__image-background
                source(src="./static/video/sport.mp4" type="video/mp4")
            .sngl-adv__text-block.left
                .sngl-adv__subtitle Комплекс майданчиків за каналом
                .sngl-adv__text.text.gray Хованки, лазалки, стрибалки та гойдалки – цілий комплекс розваг для різного віку! Місця та натхнення вистачить усім!



