extends ../layout/main
block variable
    -pageName = 'contact';
    - var version = "ua";
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    //- script(defer src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.0/gsap.min.js')
    //- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
    //- script(defer src='./assets/scripts/pixi.min.js')
    //- script(defer src='./assets/scripts/canvas_slideshow.js')
    script(defer src='./assets/scripts/forms-handler.js')
    //- script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src='./assets/scripts/contact.js')
block content
    section.contacts
        .breadcrumbs-block
            a(href="/").breadcrumbs-block__item 
                span Головна
            a(href="#").breadcrumbs-block__item.breadcrumbs-block__item-current Контакти
            h1.title.blue Контакти
        .contacts__content
            .contacts__info-blocks-wrapper
                .contacts__info-block-column
                    .contacts__info-block-column-title Покупцям
                    .contacts__mini-group 
                        .contacts__mini-group-title Адреса обьекта
                        a.contacts__mini-group-text(href="#") Київська область, Броварський район, село Погреби, вул. Приозерна, 2А
                        +svg('circle-blue-marker').decor-icon
                    .contacts__mini-group 
                        .contacts__mini-group-title Телефон
                        .contacts__mini-group-text.istat_1
                            a(href="tel:") +38 (096) 165-30-30 
                            a(href="tel:") +38 (063) 165-30-30 
                            a(href="tel:") +38 (099) 165-30-30 
                        +svg('circle-blue-tel-tube').decor-icon
                    .contacts__mini-group 
                        .contacts__mini-group-title Відділ продажу
                        a(href="").contacts__mini-group-text с. Погреби вул. Кутузова 1 
                        +svg('circle-blue-riverside').decor-icon
                .contacts__info-block-column.half-mobile
                    .contacts__info-block-column-title Інвесторам
                    .contacts__mini-group  
                        .contacts__mini-group-title Офіційний форум ЖК «Riverside»
                        .contacts__mini-group-text Для входу в групу вам необхідна реєстрація на Facebook
                        +svg('circle-blue-dialog').decor-icon
                        a.link.mobile.blue(href="#" target='_blank') Увійти в группу
                    a.link.desktop.blue(href="#" target='_blank') Увійти в группу
                .contacts__info-block-column.mobile-shown.half-mobile
                    .contacts__info-block-column-title Комерційна нерухомість
                    .contacts__mini-group  
                        .contacts__mini-group-title Відділ продажу
                        a(href="").contacts__mini-group-text с. Погреби вул. Кутузова 1 
                        +svg('circle-blue-riverside').decor-icon
                    .contacts__mini-group 
                        .contacts__mini-group-title Телефон
                        .contacts__mini-group-text.istat_1
                            a(href="tel:") +38 (096) 165-30-30 
                            a(href="tel:") +38 (063) 165-30-30 
                            a(href="tel:") +38 (099) 165-30-30 
                        +svg('circle-blue-tel-tube').decor-icon
                .contacts__info-block-column.double
                    .col-1.desktop-shown 
                        .contacts__info-block-column-title Комерційна нерухомість
                        .contacts__mini-group  
                            .contacts__mini-group-title Відділ продажу
                            a(href="").contacts__mini-group-text с. Погреби вул. Кутузова 1 
                            +svg('circle-blue-riverside').decor-icon
                        .contacts__mini-group 
                            .contacts__mini-group-title Телефон
                            .contacts__mini-group-text.istat_1
                                a(href="tel:") +38 (096) 165-30-30 
                                a(href="tel:") +38 (063) 165-30-30 
                                a(href="tel:") +38 (099) 165-30-30 
                            +svg('circle-blue-tel-tube').decor-icon
                    .col-2
                        .contacts__info-block-column-title Співробітництво
                        .contacts__mini-group
                            .contacts__mini-group-title Адреса
                            a(href="").contacts__mini-group-text Киевская область, Броварский район,с. Погреби, вул. Приозерна, 2А
                            +svg('circle-blue-marker').decor-icon
                        .contacts__mini-group
                            .contacts__mini-group-title Телефон
                            .contacts__mini-group-text
                                a(href="tel:") (068) 694-44-12 
                                a(href="tel:") (093) 927-72-14 
                            +svg('circle-blue-tel-tube').decor-icon
                    .map-link-block
                        +svg('marker-blue-riverside').decor-pin-icon
                        a.link.blue(href="" target='_blank') Відкрити у навігаторі
                        +img('contacts/map-link-bg.jpg').map-link-block__bg
    section.forms
        .contact-form-wave
            <svg class="desktop" width="158" height="32" viewBox="0 0 158 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M158 30.6866C79.3077 30.6866 79.3077 1 0.615387 1"/>
            </svg>
            <svg class="river-wave-logo" width="52" height="10" viewBox="0 0 52 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.49689 2.83456C5.49689 2.62177 5.54896 2.56162 5.56073 2.54992C5.5731 2.53763 5.63367 2.48698 5.84262 2.48698H6.24668V8.47216H5.49689V2.83456Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M11.7578 7.02398L12.9695 2.75895C13.0124 2.63453 13.0636 2.57699 13.1032 2.54786C13.1425 2.51888 13.2122 2.48698 13.3474 2.48698H13.9925L11.8851 8.47216H11.3463L11.7578 7.02398ZM11.2124 8.47216H10.737L8.63795 2.48698H9.49078L10.7963 7.02554L11.2124 8.47216Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M17.4495 5.47192H16.9168L16.9505 6.0036C16.988 6.59373 17.136 7.11936 17.4648 7.50293C17.8094 7.90486 18.2899 8.07939 18.8299 8.07939C19.3939 8.07939 19.8904 7.83387 20.301 7.44595L20.317 7.43081L20.3316 7.41431C20.3788 7.36118 20.4385 7.32923 20.5506 7.32923H21.1363C20.9726 7.67533 20.7631 7.94222 20.5098 8.14029C20.123 8.44291 19.58 8.62712 18.8088 8.62839C17.8537 8.59601 17.2173 8.30702 16.8093 7.83204C16.3908 7.34477 16.1414 6.57988 16.1414 5.45558C16.1414 4.33205 16.3952 3.58162 16.8138 3.11331C17.2231 2.65534 17.8645 2.38484 18.8311 2.38018C19.8325 2.38041 20.476 2.68345 20.8748 3.20632C21.239 3.68394 21.4568 4.41843 21.4621 5.47192H17.4495ZM16.9736 4.65727L16.8961 5.22491H17.469H20.084H20.645L20.5806 4.66752C20.5206 4.14778 20.3633 3.68059 20.0506 3.33885C19.7242 2.98217 19.2838 2.82203 18.791 2.82203C18.3014 2.82203 17.8626 2.983 17.5326 3.33376C17.2149 3.67137 17.0449 4.13512 16.9736 4.65727Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M30.4951 5.6942L30.4945 5.69408C29.7698 5.56618 29.2863 5.34979 28.9901 5.08976C28.7116 4.84539 28.569 4.53799 28.5648 4.12861C28.5654 3.5294 28.7936 3.1266 29.1562 2.85583C29.5389 2.57011 30.117 2.39954 30.8481 2.39015C31.6698 2.3906 32.2577 2.56949 32.6671 2.8792C32.9298 3.08907 33.1136 3.35213 33.2143 3.68932H32.6985C32.5506 3.68516 32.4718 3.65713 32.4352 3.63652C32.4078 3.62118 32.3941 3.60587 32.382 3.57393L32.382 3.57392L32.3808 3.57076C32.1471 2.96572 31.4935 2.77355 30.8645 2.77355C30.4944 2.77355 30.1397 2.82129 29.8602 2.96925C29.7136 3.04683 29.5768 3.15789 29.4779 3.31274C29.3776 3.46985 29.3341 3.64454 29.3341 3.81911C29.3341 4.24596 29.6109 4.5397 29.913 4.72133C30.2115 4.90082 30.6159 5.02654 31.0893 5.11843C32.251 5.34752 32.9039 5.63532 33.1788 5.88214C33.4038 6.11942 33.5141 6.41578 33.5141 6.76127C33.5141 7.4651 33.2514 7.88819 32.8376 8.16052C32.3894 8.45549 31.7067 8.60914 30.8256 8.60914C29.9135 8.60914 29.3131 8.40609 28.9642 8.10636L28.9529 8.09671L28.9411 8.08773C28.6677 7.8797 28.4777 7.58778 28.396 7.17359H29.2343C29.3399 7.47593 29.5296 7.7231 29.8049 7.89952C30.1769 8.13789 30.6439 8.20626 31.1075 8.20626C31.5082 8.20626 31.8936 8.15122 32.1938 7.97307C32.5372 7.76933 32.7157 7.43622 32.7157 7.04379C32.7157 6.54492 32.3008 6.2612 31.9774 6.10831C31.6153 5.9371 31.111 5.80371 30.4951 5.6942Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M35.6225 2.83456C35.6225 2.62177 35.6746 2.56161 35.6863 2.54992C35.6987 2.53763 35.7593 2.48698 35.9682 2.48698H36.3723V8.47216H35.6225V2.83456Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M43.3798 2.97138V0.5H43.745C43.9299 0.5 44.1101 0.669775 44.1101 0.886543V5.9525C44.1101 6.91786 43.8603 7.54918 43.4478 7.9441C43.0321 8.34208 42.3642 8.58377 41.3495 8.57978C40.3596 8.5613 39.7023 8.28488 39.2848 7.82882C38.861 7.36577 38.6068 6.63336 38.6068 5.54333C38.6068 4.40709 38.8295 3.63787 39.1983 3.15383C39.5493 2.6931 40.0861 2.42167 40.896 2.39001C41.5905 2.39239 42.0966 2.6696 42.4575 3.23903L42.4773 3.2704C42.171 3.05821 41.8011 2.95849 41.3925 2.95849C40.7902 2.95849 40.2712 3.17613 39.9161 3.65714C39.5834 4.10772 39.441 4.72842 39.4152 5.44746L39.4149 5.4547L39.4149 5.46195C39.4098 6.20706 39.5265 6.85967 39.8512 7.33788C40.2006 7.85255 40.7369 8.0892 41.373 8.0892C42.0081 8.0892 42.5481 7.85379 42.9061 7.34456C43.2413 6.86763 43.3701 6.21485 43.3701 5.46539V5.45816L43.3699 5.45094C43.3598 5.10436 43.3219 4.77981 43.2476 4.48582L43.3798 4.69437V2.97138Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M47.4873 5.47192H46.9546L46.9883 6.0036C47.0258 6.59373 47.1738 7.11936 47.5026 7.50293C47.8472 7.90486 48.3276 8.07939 48.8677 8.07939C49.4316 8.07939 49.9282 7.83387 50.3388 7.44595L50.3548 7.43081L50.3694 7.41431C50.4165 7.36117 50.4763 7.32923 50.5883 7.32923H51.1775C51.0152 7.67494 50.8057 7.94178 50.5517 8.13993C50.1636 8.44279 49.618 8.62712 48.8466 8.62839C47.8915 8.59601 47.2551 8.30702 46.8471 7.83204C46.4286 7.34477 46.1792 6.57988 46.1792 5.45558C46.1792 4.33205 46.433 3.58162 46.8516 3.11331C47.2609 2.65534 47.9023 2.38484 48.8689 2.38018C49.8703 2.38041 50.5138 2.68345 50.9125 3.20632C51.2768 3.68394 51.4946 4.41843 51.4999 5.47192H47.4873ZM47.0121 4.65217L46.9279 5.22491H47.5068H50.1217H50.6828L50.6184 4.66752C50.5584 4.14778 50.4011 3.68059 50.0884 3.33886C49.762 2.98217 49.3216 2.82203 48.8288 2.82203C48.3419 2.82203 47.9064 2.98439 47.5776 3.33376C47.2616 3.66967 47.0887 4.1312 47.0121 4.65217Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M1.20942 2.48717H1.21167C1.22189 2.72737 1.23035 3.01278 1.23035 3.21469L2.20363 3.37595C2.36501 2.90229 2.69764 2.53155 3.23289 2.39168V2.39391V2.39689V2.39987V2.40285V2.40584V2.40883V2.41182V2.41481V2.4178V2.42079V2.42379V2.42679V2.42978V2.43278V2.43579V2.43879V2.44179V2.4448V2.4478V2.45081V2.45382V2.45683V2.45984V2.46285V2.46587V2.46888V2.47189V2.47491V2.47792V2.48094V2.48396V2.48697V2.48999V2.49301V2.49603V2.49905V2.50206V2.50508V2.5081V2.51112V2.51414V2.51716V2.52018V2.5232V2.52622V2.52924V2.53225V2.53527V2.53829V2.54131V2.54432V2.54734V2.55036V2.55337V2.55638V2.5594V2.56241V2.56542V2.56843V2.57144V2.57445V2.57746V2.58047V2.58347V2.58647V2.58948V2.59248V2.59548V2.59848V2.60147V2.60447V2.60746V2.61046V2.61345V2.61644V2.61942V2.62241V2.62539V2.62837V2.63135V2.63433V2.6373V2.64028V2.64325V2.64622V2.64918V2.65215V2.65511V2.65807V2.66102V2.66397V2.66693V2.66987V2.67282V2.67576V2.6787V2.68164V2.68457V2.6875V2.69043V2.69335V2.69628V2.69919V2.70211V2.70502V2.70793V2.71083V2.71373V2.71663V2.71952V2.72242V2.7253V2.72818V2.73106V2.73394V2.73681V2.73968V2.74254V2.7454V2.74825V2.7511V2.75395V2.75679V2.75963V2.76246V2.76529V2.76812V2.77094V2.77375V2.77656V2.77937V2.78217V2.78497V2.78776V2.79054V2.79333V2.7961V2.79887V2.80164V2.8044V2.80716V2.80991V2.81265V2.81539V2.81813V2.82086V2.82358V2.8263V2.82901V2.83172V2.83442V2.83711V2.8398V2.84248V2.84516V2.84783V2.8505V2.85315V2.85581V2.85845V2.86109V2.86373V2.86635V2.86897V2.87159V2.8742V2.8768V2.87939V2.88198V2.88456V2.88713V2.8897V2.89226V2.89482V2.89736V2.8999V2.90243V2.90496V2.90747V2.90999V2.91249V2.91498V2.91747V2.91995V2.92243V2.92489V2.92735V2.9298V2.93224V2.93468V2.9371V2.93952V2.94193V2.94433V2.94673V2.94911V2.95149V2.95386V2.95622V2.95858V2.96092V2.96326V2.96559V2.96791V2.97022V2.97252V2.97481V2.9771V2.97937V2.98164V2.9839V2.98615V2.98839V2.99062C3.23289 3.11787 3.16786 3.18994 3.04537 3.20609L3.04452 3.2062C2.51317 3.2772 2.01829 3.49035 1.67931 3.98767C1.3597 4.45657 1.23035 5.10606 1.23035 5.93277V8.47235H0.509722V3.87716V3.37716H0.5V3.37577V3.37345V3.37113V3.36881V3.36648V3.36416V3.36184V3.35952V3.3572V3.35488V3.35257V3.35025V3.34793V3.34562V3.3433V3.34098V3.33867V3.33635V3.33404V3.33173V3.32942V3.3271V3.32479V3.32248V3.32017V3.31786V3.31555V3.31324V3.31094V3.30863V3.30632V3.30402V3.30171V3.2994V3.2971V3.2948V3.29249V3.29019V3.28789V3.28559V3.28328V3.28098V3.27868V3.27638V3.27408V3.27179V3.26949V3.26719V3.26489V3.2626V3.2603V3.25801V3.25571V3.25342V3.25113V3.24883V3.24654V3.24425V3.24196V3.23967V3.23738V3.23509V3.2328V3.23051V3.22822V3.22593V3.22365V3.22136V3.21907V3.21679V3.21451V3.21222V3.20994V3.20765V3.20537V3.20309V3.20081V3.19853V3.19625V3.19397V3.19169V3.18941V3.18713V3.18485V3.18258V3.1803V3.17803V3.17575V3.17348V3.1712V3.16893V3.16665V3.16438V3.16211V3.15984V3.15757V3.1553V3.15303V3.15076V3.14849V3.14622V3.14395V3.14168V3.13942V3.13715V3.13488V3.13262V3.13035V3.12809V3.12583V3.12356V3.1213V3.11904V3.11678V3.11452V3.11226V3.11V3.10774V3.10548V3.10322V3.10096V3.0987V3.09645V3.09419V3.09194V3.08968V3.08743V3.08517V3.08292V3.08067V3.07841V3.07616V3.07391V3.07166V3.06941V3.06716V3.06491V3.06266V3.06041V3.05816V3.05592V3.05367V3.05142V3.04918V3.04693V3.04469V3.04244V3.0402V3.03796V3.03571V3.03347V3.03123V3.02899V3.02675V3.02451V3.02227V3.02003V3.01779V3.01555V3.01331V3.01108V3.00884V3.0066V3.00437V3.00213V2.9999V2.99766V2.99543V2.9932V2.99096V2.98873V2.9865V2.98427V2.98204V2.97981V2.97758V2.97535V2.97312V2.97089V2.96867V2.96644V2.96421V2.96199V2.95976V2.95754V2.95531V2.95309V2.95086V2.94864V2.94642V2.9442V2.94197V2.93975V2.93753V2.93531V2.93309V2.93087V2.92866V2.92644V2.92422V2.922V2.91979V2.91757V2.91535V2.91314V2.91092V2.90871V2.9065V2.90428V2.90207V2.89986V2.89765V2.89543V2.89322V2.89101V2.8888V2.88659V2.88438V2.88218V2.87997V2.87776V2.87555V2.87335V2.87114V2.86894V2.86673V2.86453V2.86232V2.86012V2.85792V2.85571V2.85351V2.85131V2.84911V2.84691V2.84471V2.84251V2.84031V2.83811V2.83591V2.83371V2.83152V2.82932V2.82712V2.82493V2.82273V2.82054V2.81834V2.81615V2.81395V2.81176V2.80957V2.80737V2.80518V2.80299V2.8008V2.79861V2.79642V2.79423V2.79204V2.78985V2.78767V2.78548V2.78329V2.7811V2.77892V2.77673V2.77455V2.77236V2.77018V2.76799V2.76581V2.76363V2.76145V2.75926V2.75708V2.7549V2.75272V2.75054V2.74836V2.74618V2.744V2.74182V2.73965V2.73747V2.73529V2.73311V2.73094V2.72876V2.72659V2.72441V2.72224V2.72006V2.71789V2.71572V2.71355V2.71137V2.7092V2.70703V2.70486V2.70269V2.70052V2.69835C0.5 2.58193 0.59947 2.48717 0.709636 2.48717H0.711804H0.713976H0.716154H0.718337H0.720525H0.722718H0.724916H0.72712H0.729328H0.731542H0.73376H0.735984H0.738212H0.740445H0.742683H0.744926H0.747173H0.749425H0.751682H0.753944H0.75621H0.75848H0.760756H0.763035H0.765319H0.767608H0.769901H0.772198H0.774499H0.776805H0.779115H0.781429H0.783747H0.78607H0.788396H0.790726H0.793061H0.795399H0.797742H0.800088H0.802438H0.804792H0.80715H0.809511H0.811876H0.814245H0.816617H0.818993H0.821373H0.823756H0.826142H0.828532H0.830925H0.833322H0.835722H0.838125H0.840532H0.842941H0.845354H0.84777H0.850189H0.852612H0.855037H0.857465H0.859896H0.86233H0.864767H0.867207H0.869649H0.872095H0.874543H0.876993H0.879447H0.881903H0.884361H0.886823H0.889286H0.891752H0.894221H0.896692H0.899165H0.90164H0.904118H0.906598H0.90908H0.911565H0.914051H0.91654H0.919031H0.921523H0.924018H0.926515H0.929013H0.931514H0.934016H0.93652H0.939026H0.941533H0.944042H0.946553H0.949065H0.951579H0.954095H0.956612H0.95913H0.96165H0.964171H0.966694H0.969218H0.971743H0.974269H0.976797H0.979325H0.981855H0.984386H0.986918H0.989451H0.991985H0.99452H0.997055H0.999592H1.00213H1.00467H1.00721H1.00975H1.01229H1.01483H1.01737H1.01991H1.02245H1.025H1.02754H1.03008H1.03263H1.03517H1.03772H1.04026H1.04281H1.04535H1.0479H1.05045H1.05299H1.05554H1.05808H1.06063H1.06318H1.06572H1.06827H1.07081H1.07336H1.0759H1.07845H1.08099H1.08353H1.08608H1.08862H1.09116H1.09371H1.09625H1.09879H1.10133H1.10387H1.10641H1.10894H1.11148H1.11402H1.11655H1.11909H1.12162H1.12415H1.12669H1.12922H1.13175H1.13427H1.1368H1.13933H1.14185H1.14438H1.1469H1.14942H1.15194H1.15446H1.15697H1.15949H1.162H1.16451H1.16702H1.16953H1.17204H1.17455H1.17705H1.17955H1.18205H1.18455H1.18705H1.18954H1.19203H1.19452H1.19701H1.1995H1.20198H1.20446H1.20694H1.20942Z" fill="#0085FF" stroke="#0085FF"/>
            <path d="M24.4622 2.48717H24.4645C24.4747 2.72737 24.4832 3.01278 24.4832 3.21469L25.4564 3.37594C25.6178 2.90229 25.9504 2.53155 26.4857 2.39168V2.39391V2.39689V2.39987V2.40285V2.40584V2.40883V2.41182V2.41481V2.4178V2.42079V2.42379V2.42679V2.42978V2.43278V2.43579V2.43879V2.44179V2.4448V2.4478V2.45081V2.45382V2.45683V2.45984V2.46285V2.46587V2.46888V2.47189V2.47491V2.47792V2.48094V2.48396V2.48697V2.48999V2.49301V2.49603V2.49905V2.50206V2.50508V2.5081V2.51112V2.51414V2.51716V2.52018V2.5232V2.52622V2.52924V2.53225V2.53527V2.53829V2.54131V2.54432V2.54734V2.55036V2.55337V2.55638V2.5594V2.56241V2.56542V2.56843V2.57144V2.57445V2.57746V2.58047V2.58347V2.58647V2.58948V2.59248V2.59548V2.59848V2.60147V2.60447V2.60746V2.61046V2.61345V2.61644V2.61942V2.62241V2.62539V2.62837V2.63135V2.63433V2.6373V2.64028V2.64325V2.64622V2.64918V2.65215V2.65511V2.65807V2.66102V2.66397V2.66693V2.66987V2.67282V2.67576V2.6787V2.68164V2.68457V2.6875V2.69043V2.69335V2.69628V2.69919V2.70211V2.70502V2.70793V2.71083V2.71373V2.71663V2.71952V2.72242V2.7253V2.72818V2.73106V2.73394V2.73681V2.73968V2.74254V2.7454V2.74825V2.7511V2.75395V2.75679V2.75963V2.76246V2.76529V2.76812V2.77094V2.77375V2.77656V2.77937V2.78217V2.78497V2.78776V2.79054V2.79333V2.7961V2.79887V2.80164V2.8044V2.80716V2.80991V2.81265V2.81539V2.81813V2.82086V2.82358V2.8263V2.82901V2.83172V2.83442V2.83711V2.8398V2.84248V2.84516V2.84783V2.8505V2.85315V2.85581V2.85845V2.86109V2.86373V2.86635V2.86897V2.87159V2.8742V2.8768V2.87939V2.88198V2.88456V2.88713V2.8897V2.89226V2.89482V2.89736V2.8999V2.90243V2.90496V2.90747V2.90999V2.91249V2.91498V2.91747V2.91995V2.92243V2.92489V2.92735V2.9298V2.93224V2.93468V2.9371V2.93952V2.94193V2.94433V2.94673V2.94911V2.95149V2.95386V2.95622V2.95858V2.96092V2.96326V2.96559V2.96791V2.97022V2.97252V2.97481V2.9771V2.97937V2.98164V2.9839V2.98615V2.98839V2.99062C26.4857 3.11786 26.4207 3.18994 26.2982 3.20609L26.2973 3.2062C25.766 3.27721 25.2711 3.49035 24.9321 3.98767C24.6125 4.45657 24.4832 5.10606 24.4832 5.93277V8.47235H23.7625V3.87716V3.37716H23.7528V3.37577V3.37345V3.37113V3.36881V3.36648V3.36416V3.36184V3.35952V3.3572V3.35488V3.35257V3.35025V3.34793V3.34562V3.3433V3.34098V3.33867V3.33635V3.33404V3.33173V3.32942V3.3271V3.32479V3.32248V3.32017V3.31786V3.31555V3.31324V3.31094V3.30863V3.30632V3.30402V3.30171V3.2994V3.2971V3.2948V3.29249V3.29019V3.28789V3.28559V3.28328V3.28098V3.27868V3.27638V3.27408V3.27179V3.26949V3.26719V3.26489V3.2626V3.2603V3.25801V3.25571V3.25342V3.25113V3.24883V3.24654V3.24425V3.24196V3.23967V3.23738V3.23509V3.2328V3.23051V3.22822V3.22593V3.22365V3.22136V3.21907V3.21679V3.21451V3.21222V3.20994V3.20765V3.20537V3.20309V3.20081V3.19853V3.19625V3.19397V3.19169V3.18941V3.18713V3.18485V3.18258V3.1803V3.17803V3.17575V3.17348V3.1712V3.16893V3.16665V3.16438V3.16211V3.15984V3.15757V3.1553V3.15303V3.15076V3.14849V3.14622V3.14395V3.14168V3.13942V3.13715V3.13488V3.13262V3.13035V3.12809V3.12583V3.12356V3.1213V3.11904V3.11678V3.11452V3.11226V3.11V3.10774V3.10548V3.10322V3.10096V3.0987V3.09645V3.09419V3.09194V3.08968V3.08743V3.08517V3.08292V3.08067V3.07841V3.07616V3.07391V3.07166V3.06941V3.06716V3.06491V3.06266V3.06041V3.05816V3.05592V3.05367V3.05142V3.04918V3.04693V3.04469V3.04244V3.0402V3.03796V3.03571V3.03347V3.03123V3.02899V3.02675V3.02451V3.02227V3.02003V3.01779V3.01555V3.01331V3.01108V3.00884V3.0066V3.00437V3.00213V2.9999V2.99766V2.99543V2.9932V2.99096V2.98873V2.9865V2.98427V2.98204V2.97981V2.97758V2.97535V2.97312V2.97089V2.96867V2.96644V2.96421V2.96199V2.95976V2.95754V2.95531V2.95309V2.95086V2.94864V2.94642V2.9442V2.94197V2.93975V2.93753V2.93531V2.93309V2.93087V2.92866V2.92644V2.92422V2.922V2.91979V2.91757V2.91535V2.91314V2.91092V2.90871V2.9065V2.90428V2.90207V2.89986V2.89765V2.89543V2.89322V2.89101V2.8888V2.88659V2.88438V2.88218V2.87997V2.87776V2.87555V2.87335V2.87114V2.86894V2.86673V2.86453V2.86232V2.86012V2.85792V2.85571V2.85351V2.85131V2.84911V2.84691V2.84471V2.84251V2.84031V2.83811V2.83591V2.83371V2.83152V2.82932V2.82712V2.82493V2.82273V2.82054V2.81834V2.81615V2.81395V2.81176V2.80957V2.80737V2.80518V2.80299V2.8008V2.79861V2.79642V2.79423V2.79204V2.78985V2.78767V2.78548V2.78329V2.7811V2.77892V2.77673V2.77455V2.77236V2.77018V2.76799V2.76581V2.76363V2.76145V2.75926V2.75708V2.7549V2.75272V2.75054V2.74836V2.74618V2.744V2.74182V2.73965V2.73747V2.73529V2.73311V2.73094V2.72876V2.72659V2.72441V2.72224V2.72006V2.71789V2.71572V2.71355V2.71137V2.7092V2.70703V2.70486V2.70269V2.70052V2.69835C23.7528 2.58193 23.8523 2.48717 23.9624 2.48717H23.9646H23.9668H23.969H23.9711H23.9733H23.9755H23.9777H23.9799H23.9821H23.9844H23.9866H23.9888H23.991H23.9933H23.9955H23.9977H24H24.0022H24.0045H24.0068H24.009H24.0113H24.0136H24.0158H24.0181H24.0204H24.0227H24.025H24.0273H24.0296H24.0319H24.0342H24.0366H24.0389H24.0412H24.0435H24.0459H24.0482H24.0506H24.0529H24.0552H24.0576H24.06H24.0623H24.0647H24.0671H24.0694H24.0718H24.0742H24.0766H24.079H24.0813H24.0837H24.0861H24.0885H24.0909H24.0933H24.0958H24.0982H24.1006H24.103H24.1054H24.1078H24.1103H24.1127H24.1151H24.1176H24.12H24.1225H24.1249H24.1274H24.1298H24.1323H24.1347H24.1372H24.1396H24.1421H24.1446H24.147H24.1495H24.152H24.1544H24.1569H24.1594H24.1619H24.1644H24.1669H24.1693H24.1718H24.1743H24.1768H24.1793H24.1818H24.1843H24.1868H24.1893H24.1918H24.1943H24.1969H24.1994H24.2019H24.2044H24.2069H24.2094H24.2119H24.2145H24.217H24.2195H24.222H24.2246H24.2271H24.2296H24.2321H24.2347H24.2372H24.2397H24.2423H24.2448H24.2473H24.2499H24.2524H24.2549H24.2575H24.26H24.2626H24.2651H24.2676H24.2702H24.2727H24.2753H24.2778H24.2803H24.2829H24.2854H24.288H24.2905H24.2931H24.2956H24.2982H24.3007H24.3033H24.3058H24.3083H24.3109H24.3134H24.316H24.3185H24.3211H24.3236H24.3262H24.3287H24.3313H24.3338H24.3363H24.3389H24.3414H24.344H24.3465H24.3491H24.3516H24.3541H24.3567H24.3592H24.3618H24.3643H24.3668H24.3694H24.3719H24.3744H24.377H24.3795H24.382H24.3846H24.3871H24.3896H24.3921H24.3947H24.3972H24.3997H24.4022H24.4047H24.4073H24.4098H24.4123H24.4148H24.4173H24.4198H24.4223H24.4248H24.4274H24.4299H24.4324H24.4349H24.4374H24.4399H24.4423H24.4448H24.4473H24.4498H24.4523H24.4548H24.4573H24.4597H24.4622Z" fill="#0085FF" stroke="#0085FF"/>
            </svg>
            .left-line
            .top-line
            .right-line
            .bottom-line
        .tabs
            .tab-head
                .tab-head-item.active(data-link=".tab-message") Надіслати повідомлення
                .tab-head-item(data-link=".tab-callback") Замовити зворотній дзвінок
                .tab-head-item(data-link=".tab-promotions") Хочете отримувати наші акції
            .tab-body 
                .tab.tab-message.active
                    form.message(data-name="send-message")
                        .input-group
                            +svg('circle-blue-man').decor-icon
                            input(type="text" name="name" placeholder="Ім'я:" data-required="true")
                        .input-group
                            +svg('circle-blue-tel-tube').decor-icon
                            input(type="text" name="tel" placeholder="Телефон:" data-required="true")
                        .input-group
                            +svg('circle-blue-letter').decor-icon
                            input(type="text" name="email" placeholder="E-mail:" data-required="true")
                        .input-group
                            +svg('circle-blue-dialog-cloud').decor-icon
                            input(type="text" name="message" placeholder="Повідомлення:")
                        button(type="submit" class="submit-js").link.blue Надіслати
                .tab.tab-callback
                    form.callback(data-name="callback")
                        //- .input-group
                        //-     +svg('circle-blue-man').decor-icon
                        //-     input(type="text" name="name" placeholder="Ім'я:" data-required="true")
                        .input-group
                            +svg('circle-blue-tel-tube').decor-icon
                            input(type="text" name="tel" placeholder="Телефон:" data-required="true")
                        //- .input-group
                        //-     +svg('circle-blue-letter').decor-icon
                        //-     input(type="text" name="email" placeholder="E-mail:" data-required="true")
                        //- .input-group
                        //-     +svg('circle-blue-dialog-cloud').decor-icon
                        //-     input(type="text" name="message" placeholder="Повідомлення:")
                        button(type="submit" id="btnRecall" class="callback-js").link.blue Надіслати
                .tab.tab-promotions
                    form.promotions(data-name="promotions")
                        .input-group
                            +svg('circle-blue-tel-tube').decor-icon
                            input(type="text" name="tel" placeholder="Телефон:" data-required="true")
                        .input-group
                            +svg('circle-blue-letter').decor-icon
                            input(type="text" name="email" placeholder="E-mail:" data-required="true")
                        button(type="submit" class="submit-js").link.blue Підписатися