extends ../layout/main
block variable
    -pageName = 'promotions';
    - var version = "ua";
block meta
    title= 'Акції Riverside1'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src='./assets/scripts/news.js')
    script(defer src='./assets/scripts/index.js')
block content
    .breadcrumbs-block
        a(href="index.html").breadcrumbs-block__item 
            span Головна
        a(href="#").breadcrumbs-block__item.breadcrumbs-block__item-current Акції
        h1.title.blue Акції
    section.articles-wrapper
        .article 
            .article__title-wrap
                //- Перед годом точки нету по дизайну)
                span.article__date 15.072020 
                +svg('vert-wave-blue-line').vert-wave-blue-line
                .article__title Шановні інвестори! Повідомляємо вас про ситуацію, що склалася довкола COVID-19
            .article__img-wrap
                +img('news/1.jpg').article__img
                +news-article-wave('single-promotions.html')
        .article 
            .article__title-wrap
                span.article__date 15.072020
                +svg('vert-wave-blue-line').vert-wave-blue-line
                .article__title Шановні інвестори! Повідомляємо вас про ситуацію, що склалася довкола COVID-19
            .article__img-wrap
                +img('news/1.jpg').article__img
                +news-article-wave('single-promotions.html')
        .article 
            .article__title-wrap
                span.article__date 15.072020
                +svg('vert-wave-blue-line').vert-wave-blue-line
                .article__title Шановні інвестори! Повідомляємо вас про ситуацію, що склалася довкола COVID-19
            .article__img-wrap
                +img('news/1.jpg').article__img
                +news-article-wave('single-promotions.html')
        .article 
            .article__title-wrap
                span.article__date 15.072020
                +svg('vert-wave-blue-line').vert-wave-blue-line
                .article__title Шановні інвестори! Повідомляємо вас про ситуацію, що склалася довкола COVID-19
            .article__img-wrap
                +img('news/1.jpg').article__img
                +news-article-wave('single-promotions.html')
        .article 
            .article__title-wrap
                span.article__date 15.072020
                +svg('vert-wave-blue-line').vert-wave-blue-line
                .article__title Шановні інвестори! Повідомляємо вас про ситуацію, що склалася довкола COVID-19
            .article__img-wrap
                +img('news/1.jpg').article__img
                +news-article-wave('single-promotions.html')
        .article 
            .article__title-wrap
                span.article__date 15.072020
                +svg('vert-wave-blue-line').vert-wave-blue-line
                .article__title Шановні інвестори! Повідомляємо вас про ситуацію, що склалася довкола COVID-19
            .article__img-wrap
                +img('news/1.jpg').article__img
                +news-article-wave('single-promotions.html')
        .article 
            .article__title-wrap
                span.article__date 15.072020
                +svg('vert-wave-blue-line').vert-wave-blue-line
                .article__title Шановні інвестори! Повідомляємо вас про ситуацію, що склалася довкола COVID-19
            .article__img-wrap
                +img('news/1.jpg').article__img
                +news-article-wave('single-promotions.html')
    .news-pagination
        a(href="#").news-pagination__item.active 1
        a(href="#").news-pagination__item 2
        a(href="#").news-pagination__item 3
        a(href="#").news-pagination__item 4