include ../includes/mixins.pug
block variable

doctype html
html(lang="uk")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		//- Edge и ряд мобильных браузеров слишком умны. Отключим это.
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(content='notranslate', name='google')
		// Google Tag Manager
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-PDDZPDG');
		</script>
		// End Google Tag Manager
		
		block meta
		block head
			

	body
		// Google Tag Manager (noscript)
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDDZPDG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		// End Google Tag Manager (noscript)
		// Facebook Pixel Code 

		<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '654552015113408'); fbq('track', 'PageView');</script><noscript><img height="1" width="1"src="https://www.facebook.com/tr?id=654552015113408&ev=PageView&noscript=1"/></noscript>

		// End Facebook Pixel Code 
		// START SVG SPRITE
		
		include ../../assets/svg-sprite/sprite/symbol_sprite.php
		// END SVG SPRITE
		// START LOADER
		//- .preloader
			<svg class="screen6__letter squiggle-animated" width="355" height="358" viewBox="0 0 355 358" fill="none" xmlns="http://www.w3.org/2000/svg" >
				<path class="preload-letter-path" d="M219 -2.95639e-05L354.5 356.5H272.5L244.5 277H112L83 356.5H3L138.5 -2.95639e-05H219ZM225.5 220L178.5 87.5L131 220H225.5Z" fill="#434549"/>
				//- <path d="M163.5 220H225.5L203.5 158" stroke="#F7F7F7" stroke-width="0"/>
				<path d="M244.5 277H112L83 356.5H3L90.5 127" stroke="transparent" stroke-width="3"/>
			</svg>
		// END LOADER
		// START HEADER
		include ../includes/preloader.pug
		block header
		include ../includes/header.pug
		include ../includes/menu.pug
		// END HEADER
		.page__inner(id=pageName).main-scroller.main-scroller1
			.page__content
				block content

			.page__footer-wrapper
				// START FOOTER
				block footer
				include ../includes/footer.pug
				// END FOOTER
			
		block scripts