#build-progress {
    .page__content {
        background: url(../images/build-progress/bg.png) right top no-repeat;
        background-size: calc(100vw / 12 * 9.5) 100%;
        margin-top: var(--header-height);
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
    }
    .title {
        padding-left: 0;
        padding-bottom: 0;
        max-width: none;
        white-space: nowrap;
    }
    .breadcrumbs-block {
        margin-top: 23px;
        margin-bottom: 36px;
    }
    --breadcrumbs-height: 73px;
    @include from(1720px) {
        --breadcrumbs-height: 94px;
        margin-bottom: 36px;
        --adv-row-height: calc((100vw - (var(--side-padding) * 2) - 20px) / 2 * 0.38);
    }
    @include from-to(769px, 1719px) {
        --adv-row-height: calc((100vw - (var(--side-padding) * 2) - 20px) / 2 * 0.5);
    }
    @include from-to(769px, 1024px) {
        --adv-row-height: calc((100vw - (var(--side-padding) * 2) - 20px) / 2 * 0.55);
    }
    @include to(768px) {
        --adv-row-height: calc((100vw - (var(--side-padding) * 2)) * 0.4);
        .page__content {
            background: url(../images/build-progress/bg-tablet.jpg) right bottom no-repeat;
            background-size: auto calc(60vh + 50px);
        }
        .breadcrumbs-block {
            margin-top: 0;
            padding-top: 20px;
            margin-bottom: 30px;
        }
    }
    @include to(575px) {
        --adv-row-height: 75vh;
        .breadcrumbs-block {
            position: relative;
            z-index: 1;
            margin-bottom: 20px;
        }
    }
    .arrows {}
}

.monthes,
.years {
    font-weight: 400;
    & li {
        color: #DDE6EE;
        pointer-events: none;
        transition: .5s;
    }
    & li.active,
    & li.current {
        pointer-events: auto;
    }
    & li.active {
        color: var(--gray-light);
    }
    & li.current {
        color: var(--blue);
    }
    @include from(769px) {
        & li:hover {
            color: var(--blue);
        }
    }
}

.monthes {
    --this-fz: 18px;
    font-size: var(--this-fz);
    line-height: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: calc(((var(--this-fz) + 30px) * 6) + 40px);
    position: relative;
    padding-top: 40px;
    @include from(769px) {
        margin-bottom: 47px;
    }
    &:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='24' viewBox='0 0 60 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60 15C30 15 30 2 1.15576e-06 2' stroke='%230085FF' stroke-width='3'/%3E%3Cpath d='M60 22C30 22 30 9 -6.32381e-07 9' stroke='%230085FF' stroke-width='3'/%3E%3C/svg%3E%0A");
        width: 52px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
    }
    & li {
        margin-bottom: 24px;
        width: 50%;
    }
    @include from(1720px) {
        max-height: calc(((var(--this-fz) + 30px) * 6) + 40px);
        --this-fz: 24px;
        & li {
            margin-bottom: 30px;
        }
    }
    @include to(768px) {
        /*ограничение по рядам*/
        max-height: calc(((var(--this-fz) + 30px) * 3));
        padding-top: 0;
        padding-left: 83px;
        & li {
            width: auto;
        }
    }
    @include to(575px) {
        display: none;
    }
}

.years {
    display: flex;
    width: 100%;
    // justify-content: space-between;
    & li:not(:last-child) {
        margin-right: 20px;
    }
    @include from(769px) {
        margin-bottom: 47px;
    }
    @include to(768px) {
        width: max-content;
        margin-bottom: 30px;
        & li:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include to(575px) {
        display: none;
    }
}

.current-month {
    text-transform: uppercase;
    max-width: 8ch;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: var(--blue);
}

.build-progress-wrapper {
    display: flex;
    flex-wrap: wrap;
    // align-items: flex-start;
    margin: 45px auto;
    @include to(768px) {
        margin: 30px auto 60px auto;
    }
}

.slider-wrapper {
    position: relative;
    @include size(8);
    @include shift-right(0.4);
    margin-right: 5px;
    align-self: flex-start;
    margin-left: auto;
    padding: 0 60px;
    .arrows {
        position: absolute;
        top: calc(50% - 38px);
        transform: translateY(-25%);
        left: 0;
        width: 100%;
        .scene-nav {
            border-left: none;
        }
    }
    .slider-counter {
        margin: 20px auto 0px auto;
    }
    .slider {
        position: relative;
    }
    .slider:after {
        content: attr(data-error_mes);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.5vw;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        transition: .5s;
        transform-origin: top;
        transform: scaleY(0);
    }
    @include to(768px) {
        width: 100%;
        .slider img {
            height: 40vh;
            object-fit: cover;
        }
    }
    @include to(575px) {
        padding: 0 30px;
        margin-top: 42px;
        .arrow {
            top: calc(50% - 26px);
        }
        .arrows .arrow-next,
        .arrows .arrow-prev {
            width: 30px;
            height: 30px;
        }
    }
}

.navigation-wrapper {
    @include size(2.5);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    @include to(768px) {
        width: 100%;
    }
}

.current-month-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    .blue-logo {
        margin-right: 20px;
    }
    @include to(768px) {
        margin: 35px auto;
    }
    @include to(575px) {
        display: none;
    }
}

.mobile-monthes {
    display: flex;
    justify-content: space-between;
    .mobile-year {
        @include size(5);
    }
    .mobile-month {
        @include size(7);
    }
    @include from(576px) {
        display: none;
    }
}