.gallery-layout {
    header.header {
        background-color: transparent;
    }
    .breadcrumbs-block {
        margin-top: 150px;
        position: relative;
        z-index: 5;
        width: calc(100% - var(--side-fields) * 2);
        margin: 120px auto 30px auto;
        padding: 0 var(--side-fields);
        padding: 0 calc(var(--side-fields) * 2);
    }
    .title {
        margin-top: auto;
        margin-right: auto;
    }
    .arrows {
        width: calc(100% - calc(var(--side-fields) * 2));
        display: flex;
        justify-content: space-between;
    }
    .slider-counter {
        position: absolute;
        right: 80px;
        bottom: 10vh;
    }
    @include to(575px) {
        header.header {
            background-color: var(--blue);
        }
        .breadcrumbs-block {
            margin: calc(25px + var(--header-height)) auto 30px auto;
        }
        .slider-counter {
            right: 30px;
        }
        .main-screen {
            // margin-top: var(--header-height);
            height: calc(100vh - var(--header-height) - 60px);
            height: -webkit-fill-available;
            min-height: auto;
        }
    }
}