.preload-num::after {
    content: '%';
}

header.header {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    padding-top: 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 20px var(--side-fields) 20px var(--side-fields);
    // background-color: var(--blue);
    background-color: var(--blue);
    font-weight: bold;
    font-size: 18px;
    line-height: 1em;
    text-transform: uppercase;
    justify-content: space-between;
    transition: background-color .5s;
    .close-svg {
        display: none;
    }
    @include from(1720px) {
        font-size: 24px;
        padding: 20px 30px 20px 30px;
    }
    @include to(768px) {
        font-size: 16px;
    }
    @include to(480px) {
        padding: 10px var(--side-fields) 10px var(--side-fields);
        flex-wrap: wrap;
        width: 100vw;
        background-color: var(--blue);
    }
}

.header-telephone {
    color: var(--white);
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.1em;
    & .button {
        margin-right: 20px;
    }
    @include from(1720px) {
        font-size: 24px;
    }
    @include from(769px) {
        &:before {
            content: '';
            width: 19px;
            height: 18px;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5097 14.3514L16.5163 14.3449L16.5227 14.3383C17.2812 13.5576 17.1163 12.3024 16.1733 11.7114L16.1621 11.7043L16.1506 11.6975L13.2863 10.0065L13.0511 9.86765H12.9722C12.2568 9.61754 11.5351 9.91584 11.1351 10.219L11.0771 10.263L11.026 10.3149L10.4866 10.8635C10.2582 10.7732 10.0144 10.6192 9.7403 10.3961C9.4877 10.1906 9.27526 9.9862 9.04104 9.76082C8.90563 9.63051 8.76295 9.4932 8.60101 9.34463L8.601 9.34462C8.01927 8.81091 7.46176 8.14997 7.16988 7.48853L7.56335 7.09526L7.5634 7.0953L7.57126 7.08727C8.07938 6.56786 8.30329 5.74509 7.94007 4.96985L7.93007 4.9485L7.91907 4.92765L6.33111 1.91646L6.31053 1.87743L6.28659 1.84037C6.0643 1.4962 5.6988 1.13935 5.16733 1.03104C4.60735 0.91692 4.10302 1.12602 3.73012 1.44321L3.69952 1.46924L3.6711 1.49764L1.71029 3.45746C1.15904 3.97459 1.01313 4.67749 1.00383 5.21549C0.943911 6.58549 1.61961 8.03892 2.06774 8.96642L2.07555 8.98259L2.08394 8.99847C3.3996 11.489 5.47091 13.5079 7.6632 15.1028L7.68449 15.1183L7.70656 15.1326C9.03134 15.9936 10.7979 16.9411 12.748 16.9996L12.7636 17L12.7791 17C13.3221 16.9993 14.0028 16.8519 14.5409 16.3044L16.5097 14.3514Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
            margin-right: 15px;
        }
    }
    @include to(768px) {
        font-size: 16px;
        &:before {
            content: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5653 11.0253L12.5719 11.0188L12.5783 11.0121C13.2507 10.32 13.0984 9.21038 12.2756 8.69459L12.2643 8.68753L12.2528 8.68076L10.2069 7.4729L9.97168 7.33403H9.88483C9.26939 7.14054 8.67132 7.40135 8.35246 7.64302L8.29447 7.68698L8.24345 7.73886L8.00254 7.98387C7.9158 7.93299 7.81886 7.86491 7.7091 7.77561C7.53663 7.6353 7.39873 7.50244 7.23853 7.34809C7.14096 7.25408 7.03512 7.15211 6.90817 7.03563L6.90815 7.03562C6.557 6.71346 6.23841 6.34126 6.03958 5.9777L6.1758 5.84155L6.17585 5.8416L6.18371 5.83356C6.62058 5.38698 6.8171 4.67342 6.50163 4.0001L6.49163 3.97875L6.48063 3.9579L5.34637 1.80705L5.32579 1.76802L5.30185 1.73096C5.11703 1.44481 4.79859 1.12557 4.31943 1.02793C3.81177 0.924468 3.36503 1.11727 3.05068 1.38466L3.02008 1.41069L2.99166 1.43909L1.59419 2.83586C1.12612 3.27717 1.01081 3.86487 1.00285 4.28804C0.957826 5.34889 1.47651 6.44916 1.79113 7.10031L1.79894 7.11648L1.80733 7.13236C2.77435 8.96293 4.29017 10.4357 5.87706 11.5902L5.89835 11.6057L5.92042 11.62C6.87638 12.2413 8.19374 12.9554 9.66858 12.9996L9.68416 13L9.69974 13C10.1353 12.9995 10.7054 12.8809 11.1603 12.419L12.5653 11.0253Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
            margin-right: 20px;
        }
    }
    @include to(480px) {
        &:before {
            content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5653 11.0253L12.5719 11.0188L12.5783 11.0121C13.2507 10.32 13.0984 9.21038 12.2756 8.69459L12.2643 8.68753L12.2528 8.68076L10.2069 7.4729L9.97168 7.33403H9.88483C9.26939 7.14054 8.67132 7.40135 8.35246 7.64302L8.29447 7.68698L8.24345 7.73886L8.00254 7.98387C7.9158 7.93299 7.81886 7.86491 7.7091 7.77561C7.53663 7.6353 7.39873 7.50244 7.23853 7.34809C7.14096 7.25408 7.03512 7.15211 6.90817 7.03563L6.90815 7.03562C6.557 6.71346 6.23841 6.34126 6.03958 5.9777L6.1758 5.84155L6.17585 5.8416L6.18371 5.83356C6.62058 5.38698 6.8171 4.67342 6.50163 4.0001L6.49163 3.97875L6.48063 3.9579L5.34637 1.80705L5.32579 1.76802L5.30185 1.73096C5.11703 1.44481 4.79859 1.12557 4.31943 1.02793C3.81177 0.924468 3.36503 1.11727 3.05068 1.38466L3.02008 1.41069L2.99166 1.43909L1.59419 2.83586C1.12612 3.27717 1.01081 3.86487 1.00285 4.28804C0.957826 5.34889 1.47651 6.44916 1.79113 7.10031L1.79894 7.11648L1.80733 7.13236C2.77435 8.96293 4.29017 10.4357 5.87706 11.5902L5.89835 11.6057L5.92042 11.62C6.87638 12.2413 8.19374 12.9554 9.66858 12.9996L9.68416 13L9.69974 13C10.1353 12.9995 10.7054 12.8809 11.1603 12.419L12.5653 11.0253Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
            width: 15px;
            height: 15px;
            margin-right: 0;
        }
        &>span {
            display: none;
        }
    }
}

.form-call-button {
    position: relative;
    --pseudo-width: 36px;
    padding-right: calc(var(--pseudo-width) + 10px);
    cursor: pointer;
    @include from-to(769px,
    1719px) {
        font-size: 18px;
    }
    &:after {
        content: '';
        transition: .5s;
        width: var(--pseudo-width);
        position: absolute;
        right: 0;
        top: calc(50% - 1px);
        height: 2px;
        background-color: var(--white);
        transform-origin: left;
    }
    @include from(769px) {
        &:hover:after {
            // width: calc(var(--pseudo-width) * 1.2);
            transform: scaleX(1.2);
        }
    }
}

.menu-button {
    order: 2;
    margin-right: 0;
    cursor: pointer;
    // align-self: flex-start;
    align-self: center;
    &>span {
        margin-right: 20px;
        display: inline-block;
        font-size: 18px;
        line-height: 1.1em;
        position: relative;
        bottom: 3px;
    }
    @include from(1720px) {
        .open-svg {
            position: relative;
            top: 2px;
            width: 45px;
            height: 19px;
        }
        &>span {
            font-size: 24px;
            margin-right: 10px;
            position: relative;
            bottom: 1px;
        }
        align-self: center;
    }
    & rect {
        transition: .5s;
    }
    @include from(576px) {
        margin-left: 60px;
    }
    @include to(768px) {
        &>span {
            font-size: 16px;
        }
        order: 2;
    }
    @include to(480px) {
        display: flex;
        &>span {
            font-size: 14px;
            margin-right: 5px;
        }
        &>svg {
            width: 26px;
            height: 9px;
            transform: translateY(3px);
        }
    }
}

.slide-wrapper {
    display: none;
}

.menu-button {
    cursor: pointer;
    & path {
        transition: .5s;
    }
    &:hover .open-svg path {
        transform: matrix(1, -0.2, 0, 1, 0, 2);
    }
    @include to(768px) {
        align-self: center;
    }
}

.lang-block {
    width: 58px;
    max-height: 1.6em;
    height: 1.6em;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    cursor: pointer;
    &:hover:after {
        transform: rotate(-90deg);
    }
    &:after {
        transition: .5s;
        position: absolute;
        margin-left: 25px;
        transform-origin: center;
        right: 0cm;
        // content: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        content: '';
        background-image: url(../images/common/language-birdy.svg);
        background-repeat: no-repeat;
        background-size: contain;
        // width: 13px;
        // height: 7px;
        width: 19px;
        height: 11px;
        display: inline-block;
        top: 0.8em;
        transform: translateY(-50%);
        left: 10px;
        transform-box: fill-box;
        // top: 0.2em;
        // height: 18px;
        // display: flex;
        // align-items: center;
    }
    &:hover .active {}
    &:hover:after {
        // transform: rotate(180deg);
        transform: rotate(180deg) translateY(50%);
    }
    & a {
        color: #fff;
        line-height: 1.5em;
        display: flex;
        align-items: center;
    }
    &:hover {
        overflow: visible;
    }
    &:hover .innactive-langs {
        animation: fadeInDown var(--transition) 1 ease-in-out;
        left: -10px;
        padding: 0 10px;
    }
    &:hover>a:not(.active) {
        position: absolute;
        top: 100%;
    }
    .innactive-langs {
        position: absolute;
        top: 100%;
        background-color: var(--blue);
        transition: .5s;
    }
    @include from(1720px) {
        &:after {
            width: 23px;
            height: 16px;
        }
    }
    @include to(768px) {
        order: 1;
        margin-right: 20px;
    }
    @include to(480px) {
        font-size: 14px;
        width: 36px;
        &:after {
            content: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
            top: 0;
        }
    }
}

.header-telephone,
.form-call-button,
.menu-button {
    margin-right: 60px;
}

@include from(576px) {
    .menu-button {
        margin-right: 0;
    }
}

@include to(1100px) {
    .header-telephone,
    .form-call-button,
    .menu-button {
        margin-right: 30px;
    }
}

@include to(980px) {
    .header-telephone,
    .form-call-button,
    .menu-button {
        margin-right: 15px;
    }
    .form-call-button {
        padding-right: 0;
    }
    .form-call-button:after {
        display: none;
    }
}

@include to(980px) {
    .form-call-button {
        display: none;
    }
}

@include to(768px) {
    .header-telephone,
    .form-call-button,
    .menu-button {
        margin-right: 40px;
    }
    .menu-button {
        margin-right: 0;
    }
}

@include to(480px) {
    .header-telephone,
    .form-call-button,
    .menu-button {
        margin-right: auto;
    }
    .menu-button {
        margin-right: 0;
    }
    .header-telephone,
    .form-call-button {
        margin-left: auto;
    }
    .menu-button {
        margin-right: 0;
    }
}