* {
    // --black: #000000;
    // --blue: #0085FF;
    // --pink: #F8D5D4;
    // --white: #ffffff;
    // --dark-gray: #6C7C84;
    // --gray: #AAC0C9;
    // --red: #B3717B;
    // --hz: #CFDDE4;
    // --shta: #F4F9FB;
    --side-fields: 30px;
    --transition: .5s;
    @include to(768px) {
        --side-fields: 22px;
    }
}

a[href] {
    text-decoration: none;
}

.logo {
    --logo-width: 160px;
    width: var(--logo-width);
    height: calc(var(--logo-width * 0.39));
    margin-right: auto;
}

.main-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    .title {
        // margin-top: auto;
        pointer-events: none;
    }
    .scroll-element {
        pointer-events: none;
        margin-top: auto;
        margin-bottom: -70px;
        margin-left: auto;
        margin-right: 0;
        display: flex;
        width: 50%;
        padding: 0 calc(var(--side-fields) + 40px) 0 var(--side-fields);
    }
    .slider-counter {
        margin-left: auto;
    }
    .wave {
        height: calc(100% - 70px);
        margin-top: 70px;
        z-index: 1;
    }
    .arrows,
    .title,
    .scroll-element {
        position: relative;
        z-index: 1;
    }
    @include to(950px) {
        .title {
            font-size: 36px;
        }
    }
}

.main-screen-layout {
    position: relative;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: initial;
    }
}

.genplan {
    // background: url(../images/genplan/bg.jpg) center no-repeat;
    background-size: cover;
    &.layout {
        min-height: initial;
    }
    --svg-side-coeficient: 0.4989;
    height: calc(100vw * var(--svg-side-coeficient));
    .title {
        align-self: flex-end;
    }
    &__content {
        padding: var(--side-fields);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100vw * var(--svg-side-coeficient));
        .title {
            padding-left: 0;
            padding-bottom: 0;
            width: 100%;
            margin-top: auto;
            margin-right: auto;
        }
    }
    .genplan-list {
        margin-left: auto;
        padding-right: 94px;
        padding-top: 40px;
    }
    .genplan-list li:not(.page-link-group) {
        text-transform: uppercase;
        color: var(--white);
        font-family: Cera Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 1em;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 26px;
    }
    .genplan-list li:not(.page-link-group):before {
        transition: .5s;
        position: absolute;
        left: 0;
        content: '◼';
        margin-right: 5px;
        color: var(--white);
        font-size: 9px;
        line-height: 1.1vw;
        max-height: 1vw;
        padding-right: 10px;
    }
    .genplan-list li:not(.page-link-group):hover:before {
        content: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='20' y='11' width='20' height='2' transform='rotate(-180 20 11)' fill='white'/%3E%3Cpath d='M11 19L20 10L11 0.999998' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        max-width: 20px;
    }
    .genplan-list li span {
        transition: .5s;
    }
    .genplan-list li:hover span {
        transform: translateX(10px);
    }
    .page-link-group {
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        .link {
            margin-bottom: 20px;
        }
    }
    .genplan-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .genplan-svg svg {
        width: 100%;
        height: 100%;
        transition: .5s;
    }
    .genplan-svg path {
        fill: none;
        stroke: transparent;
        transition: .5s;
        stroke-width: 1;
    }
    @include to(1320px) {
        .page-link-group {
            margin-top: 3em;
        }
        .genplan-list li:not(.page-link-group) {
            margin-bottom: 20px;
        }
    }
    @include to(1220px) {
        .page-link-group {
            margin-top: 2em;
        }
        .genplan-list li:not(.page-link-group) {
            margin-bottom: 15px;
        }
    }
    @include to(1050px) {
        .page-link-group {
            margin-top: 1.5em;
        }
        .genplan-list li:not(.page-link-group) {
            margin-bottom: 10px;
        }
        .genplan-list {
            padding-right: 30px;
        }
    }
}

.about {
    display: flex;
    .left,
    .right {
        width: 50%;
        position: relative;
    }
    .left {
        position: relative;
        &__content {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-left: calc(var(--side-fields) + 42px);
            padding-top: calc(var(--side-fields) + 81px);
            padding-bottom: calc(var(--side-fields) + 81px);
            padding-right: calc(calc(var(--side-fields) + 42px));
        }
        .title {
            padding-left: 0;
            margin-top: 20px;
        }
        .text {
            max-width: 50%;
            margin-top: auto;
        }
        .link {
            margin-top: 40px;
        }
        .text,
        .link {
            opacity: 0;
            transform: translateX(100%);
            transition: .5s;
        }
        .text.visible,
        .link.visible {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .right {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 110px;
        padding-bottom: 80px;
        padding-left: calc(100% / 12);
        padding-right: calc(100% / 12);
        .bg-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            object-fit: cover;
            left: 0;
            object-position: right bottom;
            z-index: -1;
        }
        .title {
            padding: 0;
            width: 100%;
            align-self: flex-start;
        }
        .subtitle {
            width: 100%;
            margin-bottom: 20px;
        }
        .text {
            margin-top: auto;
            padding-right: 30%;
            margin-bottom: 2em;
        }
        .text-group {
            margin-top: auto;
        }
        .link {
            width: max-content;
        }
    }
    @include to(768px) {
        .left,
        .right {
            width: 100%;
        }
    }
}

.distortion-hover__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
        display: none;
    }
}

.reasons-to-choose {
    display: flex;
    padding: 60px var(--side-fields);
    flex-wrap: wrap;
    justify-content: space-between;
    .title {
        padding: 0;
        margin-bottom: 1.2em;
    }
    &__block {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    &__block>video {
        object-fit: cover;
        width: 100%;
        margin-top: auto;
    }
    &__block:nth-child(1) {
        @include size(5);
    }
    &__block:nth-child(2) {
        @include size(7);
    }
    &__block:nth-child(3) {
        width: 100%;
    }
    &__block:nth-child(4) {
        @include size(7);
    }
    &__block:nth-child(5) {
        @include size(5);
    }
    &__block:nth-child(n+2)>video {
        height: 100%;
    }
}

.gallery {
    background-color: var(--pink);
    position: relative;
    .wave {
        z-index: 1;
    }
    &__content {
        padding: var(--side-fields);
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    .title {
        padding: 0;
    }
    .slider-counter {
        margin-left: auto;
        margin-right: 40px;
    }
    .arrows {
        margin-bottom: auto;
        width: 100%;
    }
    canvas {
        position: absolute;
        width: 100%;
        z-index: 0;
        height: calc(100vh);
    }
}

.choose-flat {
    background: url(../images/choose-appartment-bg.jpg) center no-repeat;
    background-size: cover;
    &__content {
        padding: var(--side-fields);
        display: flex;
        flex-wrap: wrap;
    }
    &__content-text {
        @include size(3);
        @include shift-right(1);
        @include shift-left(7);
        margin-top: auto;
    }
    .title {
        margin-top: auto;
        margin-right: auto;
        padding: 0;
        width: 100%;
        padding-right: 80%;
    }
    .river-logo {
        width: 164px;
        height: 29px;
        margin-bottom: 30px;
    }
    .text {
        color: #BAC8D5;
        margin-bottom: 40px;
        line-height: 22px;
    }
}

.contact-developer {
    display: flex;
    flex-wrap: wrap;
    .left,
    .right {
        width: 50%;
    }
    .left {
        position: relative;
        canvas {
            z-index: 0;
        }
        &__content {
            position: relative;
            z-index: 1;
            padding: calc(60px + var(--side-fields)) var(--side-fields) var(--side-fields) var(--side-fields);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            @include shift-left(0.5);
            max-width: 50%;
            height: 100%;
        }
        .text,
        .link {
            opacity: 0;
            transform: translateX(100%);
            transition: .5s;
        }
        .text.visible,
        .link.visible {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .right {
        position: relative;
        padding-top: 95px;
        padding-bottom: 95px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        @include shift-padding-left(1);
        @include shift-padding-right(1.5);
        .bg-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            object-fit: cover;
            left: 0;
            object-position: right bottom;
            z-index: -1;
        }
        .text {
            margin-top: auto;
        }
        .title {
            margin-top: 0;
        }
        .subtitle {
            height: max-content;
        }
    }
    .title {
        padding: 0;
        width: 100%;
    }
    .subtitle {
        margin-bottom: 20px;
        width: 100%;
    }
    .text {
        margin-top: auto;
    }
    .link {
        margin-bottom: auto;
        margin-top: 40px;
        width: min-content;
    }
    @include to(1024px) {
        .left {
            &__content {
                max-width: 75%;
            }
        }
    }
    @include to(768px) {
        .left,
        .right {
            width: 100%;
        }
    }
}

.contacts {
    position: relative;
    padding: var(--side-fields);
    background: linear-gradient(0deg, #F7F5FB, #F7F5FB);
    .title {
        padding: 0;
        margin-bottom: 1em;
    }
    &__content {
        width: 100%;
    }
    &__info-blocks-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
    }
    &__info-block-column-title {
        font-family: Cera Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height, or 100% */
        text-transform: uppercase;
        /* Text colour */
        color: var(--gray);
        padding-left: 25px;
        margin-bottom: 1.6em;
    }
    &__info-block-column {
        @include size(3);
        margin-top: 35px;
    }
    &__info-block-column.double {
        @include size(6);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
    }
    .map-link-block {
        grid-area: 2/3/2/1;
    }
    &__info-block-column.double .col-1 {
        grid-area: 1/1/1/1;
    }
    &__info-block-column.double .col-2 {
        grid-area: 1/2/1/2;
    }
    &__mini-group {
        padding-left: calc(25px + 40px + 20px);
        position: relative;
        color: var(--gray-light);
        min-height: 40px;
        font-size: 18px;
        line-height: 1em;
        margin-bottom: 30px;
    }
    &__mini-group-title {
        font-weight: 500;
        margin-bottom: 1em;
    }
    &__mini-group-text {
        line-height: 1.5em;
        color: var(--light-gray);
        display: flex;
        flex-direction: column;
    }
    &__mini-group-text a {
        color: var(--light-gray);
    }
    .decor-icon {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 25px;
        top: 0;
    }
    .link {
        padding-left: 25px;
    }
    @include to(1100px) {
        &__mini-group {
            padding-left: calc(25px + 25px + 0px);
        }
        .decor-icon {
            left: 5px;
        }
    }
}

.map-link-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
    }
    .link,
    .decor-pin-icon {
        position: relative;
        z-index: 1;
    }
    .decor-pin-icon {
        margin-right: 30px;
    }
    .link {
        max-width: 160px;
    }
}

.forms {
    .tab-head {
        margin-bottom: 70px;
    }
}

.input-group {
    border-bottom: 2px solid #C1D7EB;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    .decor-icon {
        margin-right: 20px;
    }
    input {
        border: none;
        color: var(--blue);
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        width: calc(100% - 40px);
    }
    input::placeholder {
        color: var(--blue);
    }
}

form.message,
form.callback,
form.promotions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .input-group {
        // padding-right: 3em;
    }
    .input-group:nth-child(-n+3) {
        @include size(4);
        margin-bottom: 30px;
    }
    .input-group:nth-child(4) {
        @include size(8);
    }
    .link {
        display: flex;
        align-items: center;
        height: 1em;
        align-self: flex-end;
        margin-right: auto;
        margin-left: 3%;
    }
    @include to(768px) {
        .link {
            margin-right: 0;
            margin-left: auto;
        }
    }
}

form.promotions {
    .link {
        margin-bottom: 30px;
    }
    .input-group {
        margin-right: auto;
    }
}

button[type=submit] {
    background: none;
    border: none;
}