* {
    --black: #000000;
    --blue: #0085FF;
    --pink: #F8D5D4;
    --white: #ffffff;
    --dark-gray: #6C7C84;
    --gray: #AAC0C9;
    --red: #B3717B;
    --hz: #CFDDE4;
    --shta: #F4F9FB;
    --side-fields: 30px;
    --transition: .5s;
}

a[href] {
    text-decoration: none;
}

.logo {
    --logo-width: 160px;
    width: var(--logo-width);
    height: calc(var(--logo-width * 0.39));
    margin-right: auto;
}

.main-screen {
    min-height: calc(100vw * 0.6);
    display: flex;
    flex-direction: column;
    .title {
        // margin-top: auto;
    }
    .scroll-element {
        margin-top: auto;
        margin-bottom: -70px;
        margin-left: auto;
        margin-right: 0;
        display: flex;
        width: 50%;
        padding: 0 calc(var(--side-fields) + 40px) 0 var(--side-fields);
    }
    .slider-counter {
        margin-left: auto;
    }
    .wave {
        height: calc(100% - 70px);
        margin-top: 70px;
    }
}

.main-screen-layout {
    position: relative;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.genplan {
    // background: url(../images/genplan/bg.jpg) center no-repeat;
    background-size: cover;
    &.layout {
        min-height: initial;
    }
    --svg-side-coeficient: 0.4989;
    height: calc(100vw * var(--svg-side-coeficient));
    .title {
        align-self: flex-end;
    }
    &__content {
        padding: var(--side-fields);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100vw * var(--svg-side-coeficient));
        .title {
            padding-left: 0;
            padding-bottom: 0;
            width: 100%;
            margin-top: auto;
            margin-right: auto;
        }
    }
    .genplan-list {
        margin-left: auto;
        padding-right: 94px;
        padding-top: 40px;
    }
    .genplan-list li:not(.page-link-group) {
        text-transform: uppercase;
        color: var(--white);
        font-family: Cera Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 1em;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 26px;
    }
    .genplan-list li:not(.page-link-group):before {
        transition: .5s;
        position: absolute;
        left: 0;
        content: '◼';
        margin-right: 5px;
        color: var(--white);
        font-size: 9px;
        line-height: 1.1vw;
        max-height: 1vw;
        padding-right: 10px;
    }
    .genplan-list li:not(.page-link-group):hover:before {
        content: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='20' y='11' width='20' height='2' transform='rotate(-180 20 11)' fill='white'/%3E%3Cpath d='M11 19L20 10L11 0.999998' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        max-width: 20px;
    }
    .genplan-list li span {
        transition: .5s;
    }
    .genplan-list li:hover span {
        transform: translateX(10px);
    }
    .page-link-group {
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        .link {
            margin-bottom: 20px;
        }
    }
    .genplan-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .genplan-svg svg {
        width: 100%;
        height: 100%;
        transition: .5s;
    }
    .genplan-svg path {
        fill: none;
        transition: .5s;
        stroke-width: 1;
    }
    @include to(1320px) {
        .page-link-group {
            margin-top: 3em;
        }
        .genplan-list li:not(.page-link-group) {
            margin-bottom: 20px;
        }
    }
    @include to(1220px) {
        .page-link-group {
            margin-top: 2em;
        }
        .genplan-list li:not(.page-link-group) {
            margin-bottom: 15px;
        }
    }
}

.about {
    display: flex;
    .left,
    .right {
        width: 50%;
    }
    .left {
        position: relative;
        &__content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-left: calc(var(--side-fields) + 42px);
            padding-top: calc(var(--side-fields) + 81px);
            padding-bottom: calc(var(--side-fields) + 81px);
            padding-right: calc(calc(var(--side-fields) + 42px));
        }
        .title {
            padding-left: 0;
            margin-top: 20px;
        }
        .text {
            max-width: 50%;
            margin-top: auto;
        }
        .link {
            margin-top: 40px;
        }
    }
}

.distortion-hover__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
        display: none;
    }
}