menu {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--blue);
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-100vh);
    flex-direction: column;
    transition: transform 1s ease-in-out;
    header.header {
        padding: calc(var(--side-fields) + 40px) calc(var(--side-fields) + 40px) 0 calc(var(--side-fields) + 40px);
        position: static;
        --blue: transparent;
    }
    &.opened {
        transform: none;
        // animation: flipInY 1s 1 linear;
        .close-svg {
            display: initial;
            animation: none;
            position: relative;
            top: 0.3em;
        }
        .open-svg {
            display: none;
        }
    }
    .menu__content {
        // padding: 0 var(--side-fields);
        padding: 0 0;
        // @include shift-left(1);
        margin-right: 2px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-self: center;
        width: calc(100% - var(--side-fields) * 2);
        position: relative;
        &:after {
            position: absolute;
            content: '';
            width: 90%;
            height: 12px;
            background-color: var(--blue);
            bottom: calc(67px + 25px);
            right: var(--side-fields);
        }
        position: relative;
    }
    .menu-scroll-element {
        width: 100%;
        margin-top: 67px;
    }
    .menu-content-image-links {
        height: 500px;
        @include size(8.2);
        overflow-x: scroll;
        overflow-y: hidden;
        display: grid;
        grid-template-rows: 225px 225px;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(19, 85px);
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-button {
            width: 10px;
            height: 10px;
            background-color: transparent;
            display: none;
            pointer-events: none;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--white);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
    }
    .menu__content-text-links {
        @include size(3.8);
        @include shift-padding-left(1);
        padding-top: 2em;
        .link {
            margin-top: 20px;
            line-height: 1em;
        }
        .link:after {
            display: none;
        }
    }
    .title {
        // margin-top: auto;
        position: absolute;
        border: var(--side-fields);
        bottom: 0;
    }
    .wave {
        padding: 0;
    }
    .menu-button {
        order: 2;
        margin-left: 50px;
        margin-right: 0;
    }
    @include from(1680px) {
        .menu-content-image-links {
            height: 600px;
            grid-template-rows: 290px 290px;
            column-gap: 12px;
            row-gap: 12px;
            grid-template-columns: repeat(19, 125px);
        }
        .menu__content-text-links .link {
            margin-top: 24px;
            line-height: 1.25em;
        }
    }
    .mobile-gradient {
        background: linear-gradient(0deg, #0085FF 0%, rgba(0, 133, 255, 0) 25%);
        position: absolute;
        height: 20%;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    @include from(576px) {
        .mobile-gradient {
            display: none;
        }
    }
    // @include from-to(576px, 769px) {
    //     // display: block;
    //     .menu__content {
    //         display: block;
    //         width: calc(100% - 4px - var(--side-fields) * 2);
    //         padding-left: 62px;
    //         padding-right: 62px;
    //         margin-top: 0;
    //         &:after {
    //             height: 13px;
    //             bottom: -2px;
    //         }
    //     }
    //     .menu__content-text-links {
    //         width: 100%;
    //     }
    //     .menu-content-image-links {
    //         width: 100%;
    //     }
    //     .menu__content-text-links {
    //         width: 100%;
    //         padding-left: 0;
    //         padding-top: 0em;
    //         columns: 2;
    //         .link {
    //             margin-top: 0;
    //         }
    //     }
    //     .menu-content-image-links {
    //         grid-template-columns: repeat(19, 111px);
    //     }
    //     .menu-scroll-element {
    //         display: none;
    //     }
    // }
    @include to(575px) {
        overflow: hidden;
        flex-direction: row;
        align-content: flex-start;
        background: linear-gradient(0deg, #0085FF 0%, rgba(0, 133, 255, 0) 25%), #0085FF;
        height: -webkit-fill-available;
        header.header {
            padding: calc(var(--side-fields) + 16px) calc(var(--side-fields) + 16px) 0 calc(var(--side-fields) + 16px);
            height: 50px;
            margin-bottom: 35px;
        }
        .menu-scroll-element {
            display: none;
        }
        .menu-button {
            margin-left: 0;
        }
        &.opened {
            .close-svg {
                width: 15px;
                height: 12px;
                transform: translateY(1px);
                top: 0;
            }
        }
        .wave-for-menu {
            z-index: 2;
        }
        .menu__content {
            margin-top: 0;
            flex-direction: row;
            margin: 0 auto;
            padding: 0 16px;
            display: block;
            height: calc(100vh - 52px - 32px);
            overflow-y: scroll;
            overflow-x: hidden;
            align-self: flex-start;
            &:after {
                display: none;
            }
        }
        .menu__content-text-links {
            width: 100%;
            padding-left: 0;
            padding-top: 0em;
            columns: 2;
            .link {
                line-height: 1em;
                font-size: 14px;
                line-height: 16px;
                margin-top: 0;
                margin-bottom: 19px;
                padding-right: 0;
            }
            .link:after {
                display: none;
            }
        }
        .menu-content-image-links {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .menu__content-image-link {
            margin-top: 15px;
            height: 150px;
        }
        .menu__content-image-link:last-child {
            margin-bottom: 70px;
        }
        .title {
            z-index: 2;
        }
    }
}

.menu__content-image-link {
    position: relative;
    display: block;
    overflow: hidden;
    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
    }
    @include from(769px) {
        &:hover img {
            transition: 10s;
            transform: scale(1.2);
        }
    }
    .img-gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s;
        opacity: 1;
    }
    .img-gradient.color1 {
        background: linear-gradient(180deg, #000028 0%, rgba(0, 0, 40, 0) 100%);
        mix-blend-mode: color;
    }
    .img-gradient.color2 {
        background: #001F3C;
        mix-blend-mode: soft-light;
    }
    .img-gradient.color3 {
        background: #0085FF;
        mix-blend-mode: color;
    }
    .link {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        text-transform: none;
    }
    .link:after {
        display: none;
    }
    @include from(769px) {
        &:hover .img-gradient {
            opacity: 0;
        }
    }
    @include from(1680px) {
        .link {
            font-size: 24px;
            line-height: 24px;
            left: 25px;
            bottom: 25px;
        }
    }
}