.layout {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

* {
    --blue: #0085FF;
    --white: #ffffff;
    --side-padding: 30px;
    cursor: url('../images/common/cursor.png'), auto;
}

.wrapper {
    position: relative;
}

.wave {
    position: absolute;
    // border-top: 2px solid red;
    height: 100%;
    width: 100%;
    pointer-events: none;
    // --side-padding: 30px;
    padding: var(--side-padding);
    .bottom-line {
        display: none;
    }
    @include from(1426px) {
        .bottom-line {
            display: block;
            position: absolute;
            bottom: calc(var(--side-padding) + 7.4px);
            right: var(--side-padding);
            width: calc(100vw - (var(--side-padding) * 2) - 1368px);
            height: 2px;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    .top-line {
        position: absolute;
        top: var(--side-padding);
        left: var(--side-padding);
        width: calc(100% - (var(--side-padding) * 2));
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:after {
        content: '';
        position: absolute;
        top: var(--side-padding);
        left: var(--side-padding);
        height: calc(100% - (var(--side-padding) * 2) - 170px);
        width: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:before {
        content: '';
        position: absolute;
        top: calc(var(--side-padding));
        right: var(--side-padding);
        height: calc(100% - (var(--side-padding) * 2) - 8px);
        width: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    svg {
        position: absolute;
        bottom: var(--side-padding);
        width: 1360px;
        left: var(--side-padding);
        bottom: calc(var(--side-padding) - 3px);
        height: 201.3px;
    }
    svg path {
        fill: none;
        stroke: rgba(255, 255, 255, 0.5);
        stroke-width: 2;
    }
}

.title {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 1em;
    color: var(--white);
    text-transform: uppercase;
    max-width: 350px;
    padding-left: var(--side-padding);
    padding-bottom: var(--side-padding);
    & .blue {
        color: var(--blue);
    }
}

.arrows {
    align-self: center;
    margin-top: auto;
    width: calc(100% - var(--side-padding) - var(--side-padding));
    display: flex;
    justify-content: space-between;
    .arrow-prev,
    .arrow-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    .arrow-prev {
        transform: rotate(-180deg);
    }
    .arrow-next {}
}

.slider-counter {
    width: 50px;
    color: var(--white);
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .delimiter {
        margin: 0 auto;
    }
}

.link {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    position: relative;
    padding-right: 46px;
    &.blue {
        color: var(--blue);
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 36px;
        height: 2px;
        background-color: var(--white);
        bottom: calc(1em - 8px);
    }
}

.subtitle {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white)
}