.layout {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

* {
    --blue: #0085FF;
    --white: #ffffff;
    --gray: #40484E;
    --gray-light: #728596;
    --side-padding: 30px;
    cursor: url('../images/common/cursor.png'), auto;
    @include to(768px) {
        --side-padding: 22px;
    }
    @include to(480px) {
        --side-padding: 14px;
    }
}

.wrapper {
    position: relative;
}

.wave {
    position: absolute;
    // border-top: 2px solid red;
    height: 100%;
    width: 100%;
    pointer-events: none;
    // --side-padding: 30px;
    overflow: hidden;
    padding: var(--side-padding);
    .bottom-line {
        display: block;
        position: absolute;
        bottom: calc(var(--side-padding) - 3px);
        right: var(--side-padding);
        width: calc(100% - 940px);
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .top-line {
        position: absolute;
        top: var(--side-padding);
        left: var(--side-padding);
        width: calc(100% - (var(--side-padding) * 2));
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:after {
        content: '';
        position: absolute;
        top: var(--side-padding);
        left: var(--side-padding);
        height: calc(100% - (var(--side-padding) * 2) - 162px);
        width: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:before {
        content: '';
        position: absolute;
        top: calc(var(--side-padding) + 2px);
        right: var(--side-padding);
        height: calc(100% - (var(--side-padding) * 2) - 1px);
        width: 2px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    svg {
        position: absolute;
        bottom: var(--side-padding);
        width: 880px;
        left: var(--side-padding);
        bottom: calc(var(--side-padding) - 3px);
        height: 166px;
    }
    svg path {
        fill: none;
        stroke: rgba(255, 255, 255, 0.5);
        stroke-width: 2;
    }
    .mobile {
        width: 283px;
        height: 93px;
    }
    @include to(950px) {
        svg {
            width: 650px;
            height: 124px;
        }
        .bottom-line {
            width: calc(100% - 710px);
        }
    }
    @include from(769px) {
        .mobile {
            display: none;
        }
    }
    @include to(768px) {
        .desktop {
            display: none;
        }
        svg {
            height: 123.2px;
        }
        .bottom-line {
            width: calc(100% - 694px);
        }
    }
    @include to(480px) {
        &:after {
            height: calc(100% - (var(--side-padding) * 2) - 90px);
            width: 2px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .bottom-line {
            width: calc(100% - 311px);
        }
    }
}

.title {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 1em;
    color: var(--white);
    text-transform: uppercase;
    max-width: 350px;
    padding-left: var(--side-padding);
    padding-bottom: var(--side-padding);
    & .blue.with-waves:after {
        content: url("data:image/svg+xml,%3Csvg width='87' height='36' viewBox='0 0 87 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87 20C43.5 20 43.5 3 -7.7879e-07 3' stroke='%230085FF' stroke-width='6'/%3E%3Cpath d='M87 33C43.5 33 43.5 15 -6.91367e-07 15' stroke='%230085FF' stroke-width='6'/%3E%3C/svg%3E%0A");
        margin-left: 30px;
        width: 87px;
        height: 30px;
    }
    & .blue {
        color: var(--blue);
        display: flex;
        justify-content: flex-start;
    }
    & .gray {
        color: var(--gray);
    }
    @include to(1024px) {
        & .blue.with-waves:after {
            transform: scale(0.7) translateX(-30%);
        }
    }
    @include to(768px) {
        font-size: 36px;
    }
    @include to(480px) {
        font-size: 24px;
    }
}

.arrows {
    align-self: center;
    margin-top: auto;
    width: calc(100% - var(--side-padding) - var(--side-padding));
    display: flex;
    justify-content: space-between;
    .arrow-prev,
    .arrow-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
    svg {
        cursor: pointer;
    }
    .arrow-prev {
        transform: rotate(-180deg);
    }
    .arrow-next {}
    @include to(768px) {
        margin-bottom: 0;
    }
    @include to(480px) {
        .arrow-prev,
        .arrow-next {
            width: 40px;
            height: 40px;
        }
        .arrow-prev>svg,
        .arrow-next>svg {
            width: 14px;
            height: 11px;
        }
    }
}

.slider-counter {
    width: 50px;
    color: var(--white);
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .delimiter {
        margin: 0 auto;
    }
}

.link {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--white);
    position: relative;
    padding-right: 46px;
    &.blue {
        color: var(--blue);
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 36px;
        height: 2px;
        background-color: var(--white);
        bottom: calc(1em - 8px);
    }
    &.blue::after {
        background-color: var(--blue);
    }
    @include from(769px) {
        &.mobile {
            display: none;
        }
    }
    @include to(768px) {
        &.desktop {
            display: none;
        }
        font-size: 16px;
    }
    @include to(480px) {
        padding-right: 30px;
        &::after {
            width: 20px;
        }
    }
}

.subtitle {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    &.gray {
        color: var(--gray);
    }
    @include to(768px) {
        font-size: 16px;
    }
}

.wave-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
    svg:not(.wave-logo) {
        position: absolute;
        right: var(--side-padding);
        top: var(--side-padding);
        stroke: rgba(255, 255, 255, 1);
    }
    .wave-logo {
        position: absolute;
        right: var(--side-padding);
        top: var(--side-padding);
    }
    .bottom-line {
        position: absolute;
        height: 2px;
        width: calc(100% - (var(--side-padding) * 2));
        background: rgba(255, 255, 255, 0.5);
        bottom: var(--side-padding);
        left: var(--side-padding);
    }
    .left-line {
        position: absolute;
        width: 2px;
        height: calc(100% - (var(--side-padding) * 2));
        background: rgba(255, 255, 255, 0.5);
        bottom: var(--side-padding);
        left: var(--side-padding);
    }
    .right-line {
        position: absolute;
        width: 2px;
        height: calc(100% - (var(--side-padding) * 2) - 30px);
        background: rgba(255, 255, 255, 0.5);
        bottom: var(--side-padding);
        right: var(--side-padding);
    }
    .top-line {
        position: absolute;
        left: var(--side-padding);
        top: var(--side-padding);
        height: 2px;
        width: calc(100% - 217px);
        background-color: rgba(255, 255, 255, 0.5);
    }
    @include from(768px) {
        .top-line {
            width: calc(100% - 201.3px);
        }
    }
    @include to(480px) {
        .top-line {
            width: calc(100% - 185px);
        }
    }
}

.text {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--white);
    &.gray {
        color: #728596;
    }
    &.gray>p {
        color: #728596;
    }
    &>p {
        color: var(--white);
    }
    &>p:nth-child(n+2) {
        margin-top: 1.6em;
    }
    @include to(480px) {
        font-size: 12px;
    }
}

.wave-bottom-white {
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 800px;
    height: 89px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    &>svg {
        position: absolute;
        fill: var(--white);
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    &__title,
    &__subtitle {
        position: relative;
        z-index: 2;
    }
    &__title {
        font-family: Cera Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 1em;
        text-transform: uppercase;
        color: #40484E;
        max-width: 160px;
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    &__title::before {
        content: url("data:image/svg+xml,%3Csvg width='9' height='36' viewBox='0 0 9 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 36C0.999999 18 8 18 8 1.24374e-06' stroke='%230085FF' stroke-width='2'/%3E%3C/svg%3E ");
        position: absolute;
        left: 0;
        top: 0;
    }
    &__subtitle {
        font-family: Cera Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        text-transform: uppercase;
        color: var(--gray-light);
    }
    @include from(769px) {
        .white-wave-mobile {
            display: none;
        }
    }
    @include to(768px) {
        &__title {
            font-size: 16px;
        }
        .desktop-wave {
            display: none;
        }
        .white-wave-mobile {
            width: 43%;
            height: 101%;
        }
    }
    @include to(480px) {
        bottom-white .white-wave-mobile {
            width: 37%;
            height: 85%;
        }
    }
}

.wave-top-blue {
    position: absolute;
    width: calc(100% - var(--side-padding) * 2);
    height: calc(100% - var(--side-padding) * 2);
    pointer-events: none;
    overflow: hidden;
    &>svg {
        width: 973px;
        height: 145px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .left-line {
        position: absolute;
        left: 0;
        top: 144px;
        background-color: #60B3FF;
        width: 2px;
        height: calc(100% - 145px);
    }
    .bottom-line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #60B3FF;
        bottom: 0;
        left: 0;
    }
    .right-line {
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #60B3FF;
        right: 0;
        top: 0;
    }
    .top-line {
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% - 972px);
        height: 2px;
        background-color: #60B3FF;
    }
    .mobile-320 {
        width: 292px;
        height: 66px;
    }
    @include from(769px) {
        .blue-top-top-line-mobile {
            display: none;
        }
    }
    @include to(768px) {
        .blue-line-desktop {
            display: none;
        }
        svg {
            width: 728px;
            height: 139px;
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
        }
        .left-line {
            position: absolute;
            left: 0;
            top: 137px;
            background-color: #60B3FF;
            width: 2px;
            height: calc(100% - 138px);
        }
    }
    @include from(480px) {
        .mobile-320 {
            display: none;
        }
    }
    @include to(480px) {
        .blue-top-top-line-mobile {
            display: none;
        }
        .left-line {
            top: 65px;
            height: calc(100% - 65px);
        }
        .top-line {
            right: auto;
            left: 0;
            top: 64px;
            width: calc(100% - 292px);
        }
    }
}

.decor-pin-icon {
    width: 54px;
    height: 67px;
}

.forms {
    padding-top: 53px;
    padding-bottom: 77px;
    @include shift-padding(1);
    @include to(1024px) {
        padding: var(--side-padding);
    }
}

.tabs {
    .tab-head {
        display: flex;
        justify-content: space-between;
    }
    .tab-head-item.active {
        color: var(--blue);
    }
    .tab-head-item {
        min-height: 36px;
        display: flex;
        align-items: center;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: var(--gray);
        text-transform: uppercase;
    }
    .tab-head-item:before {
        transition: .5s;
        opacity: 0;
        margin-right: 10px;
        content: url("data:image/svg+xml,%3Csvg width='9' height='36' viewBox='0 0 9 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C8 18 0.999999 18 0.999998 36' stroke='%230085FF' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    .tab-head-item.active:after,
    .tab-head-item.active:before {
        opacity: 1;
    }
    .tab-head-item:after {
        transition: .5s;
        opacity: 0;
        margin-left: 10px;
        content: url("data:image/svg+xml,%3Csvg width='9' height='36' viewBox='0 0 9 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C8 18 0.999999 18 0.999998 36' stroke='%230085FF' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    .tab {
        display: none;
    }
    .tab.active {
        display: block;
    }
    @include to(768px) {
        .tab-head-item {
            text-align: center;
        }
    }
    @include to(480px) {
        padding: 0;
        .tab-head {
            margin-bottom: 25px;
            flex-direction: column;
            align-items: center;
        }
        .tab-head-item {
            font-size: 14px;
        }
    }
}

.decor-icon {
    width: 40px;
    height: 40px;
    @include to(480px) {
        width: 26px;
        height: 26px;
    }
}

.input-group {
    transition: .5s;
}

.input-group.unfilled {
    border-color: red;
}

.mouse-popup {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    position: fixed;
    width: 60px;
    color: var(--white);
    height: 30px;
    @include to(768px) {
        display: none;
    }
}